streamlit
psycopg2-binary
pandas
pdfplumber
sentence-transformers
torch
numpy
matplotlib
plotly
dbt-postgres
bcrypt # For password hashing
python-jose[cryptography] # For JWT token generation
passlib # For password hashing
pydantic
scikit-learn
streamlit-aggrid
seaborn
gspread           # Add this line
google-auth       # Often needed as a dependency for gspread
sqlalchemy
yfinance>=0.2.40
pyyaml>=6.0
requests>=2.31.0
